<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/airoplane"
        android:label="@string/app_name"
        android:roundIcon="@drawable/airoplane"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlightBookingApp"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCz3xXkUGpyYh_KaO0f3ZjmSsOdDOv1qRs"/>


        <activity
            android:name=".FlashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".Activity.SeatListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.TicketDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityLocationTracking"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChatActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EditAccount"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />
            </intent-filter>
        </activity>


        <activity android:name=".ActivityFlightDetails"
            android:exported="true" />
    </application>

</manifest>